@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: rgb(70, 142, 236);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
}

div{
    text-align: center;
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 150px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}